{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/parsley.min.js"></script>




{{/head}}


{{$propositionHeader}}
  {{>includes/govuk_drivingprop}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}


{{$content}}


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href="/public/stylesheets/numberplate.css" media="screen" rel="stylesheet" type="text/css" />



<main id="content" role="main" style="padding-bottom:0">



<div id="back-exit" style="padding-bottom:3em">
  <div>
  <a class="back-to-previous" href="javascript:history.back()">Back <span class="visuallyhidden"> to the previous question</span></a>
  </div>


  <div>
  <a class="verify-signout" href="verify-exit">Sign out <span class="visuallyhidden"> of your Verify account</span></a>
  </div>
</div>



  <br clear="all">



  <form action="driving-flow" method="get" class="form">

  <input type="hidden" name="nextlink" value="driving-2">


  <div id="driver">
    <h2 class="heading-large" style="padding:0;margin:0 0 0.4em 0">Your driving licence</h2>

    <div class="grid-row">
      <div class="column-quarter">
        <div class="summary-box green">
        <p style="margin-top:0.7em">You have a full driving licence</p>
        </div>
      </div>

      <div class="column-quarter">
        <div class="summary-box amber">
        <p><span class="bignum">2</span><br>offences</p>
        </div>
      </div>

      <div class="column-quarter">
        <div class="summary-box amber">
        <p><span class="bignum">6</span><br>points</p>
        </div>
      </div>

      <div class="column-quarter">
        <div class="summary-box green">
        <p style="margin-top:0.7em">Valid until<br><span style="font-size:120%">25 Feb 2018</span></p>
        </div>
      </div>
    </div>

    <br clear="all">


    <!-- Mini licence summary text, there may be too much? -->
    <ul class="ul-data">
      <li><span>Name </span><strong>Sarah Marie Morgan</strong>  <a href="licence-name-change">Change</a></li>
      <li><span>Address </span><strong>12 Downton Road, London, SE16 E44</strong>  <a href="licence-address-change-postcode">Change</a></li>

    <p>This is the summary. <a href="#">View your full licence online.</a>

  </div>



  <div class="grid-row">
  <div class="column-two-thirds">

    <h2 class="heading-large" style="padding:0;margin:1em 0 0.4em 0">Your vehicles</h2>

    <p>We found 2 vehicles that you may be registered to you. Use the 11 digit reference from the front of the relevant V5C to confirm that you are the keeper.</p>







    <script type="text/javascript">


    $(document).ready(function(){

    $('.show_hide').showHide({
    speed: 1000, // speed you want the toggle to happen
    changeText: 1, // if you dont want the button text to change, set this to 0
    showText: 'View',// the button text to show when a div is closed
    hideText: '' // the button text to show when a div is open

    });

    });
    </script>

    <div style="margin:1em 0 2em 0" id="vehicle-claim">

      <div style="margin-bottom:2em">
          <label class="heading-small" for="v5c1" id="">A blue Audi</label>

          <br>

          <input maxlength="11" id="v5c1" class="form-control input-large" type="number" data-parsley-trigger="change" autocomplete="off" name="v5c1" style="margin:0.3em 0">

                    <a class="show_hide" href="#" rel="#vehicle-1" style="margin-left:2em;">Confirm</a>
                    <span id="vehicle-1" style="display: none;">CU57&nbsp;ABC</span>
          

          <br>
          <span style="color:#666">11 digit reference from the front of the V5C</span>
      </div>


      <div>
          <label class="heading-small" for="v5c2" id="">A green Toyota</label>

          <br>

          <input maxlength="11" id="v5c2" class="form-control input-large" type="number" data-parsley-trigger="change" autocomplete="off" name="v5c2" style="margin:0.3em 0">
          
          <a class="show_hide" href="#" rel="#vehicle-2" style="margin-left:2em;">Confirm</a>
          <span id="vehicle-2" class="reg-mark" style="display:none;margin-left:-0.5em">EAZ&nbsp;123</span>


          <br>
          <span style="color:#666">11 digit reference from the front of the V5C</span>
      </div>

    </div>





    <div><details>
        <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="padding:0.7em 0 1em 0">
          <span class="summary">Add a different vehicle</span>
        </summary>

        <div class="panel-indent" id="details-content-0" aria-hidden="false" style="display:block;">


          <div class="grid-row">
          <div class="column-two-thirds">

            <h2 class="heading-medium" style="margin-top:0">Adding a vehicle</h2>

            <label for="radio-inline-1" class="block-label" style="border-bottom:#7f7f7f solid 3px;padding-left:50px;margin-top:0;margin-bottom:0.66em">
            <input id="radio-inline-1" type="radio" name="reftype" value="v5c">
            I've received a new V5C (red logbook) with my name on
            <br>
            <img src="/public/images/v5c-diagram.png" width="280" height="162" align="middle" style="padding:0.5em 0 0 0">
            </label>



            <label for="radio-inline-2" class="block-label" style="border-bottom:#7f7f7f solid 3px;padding-left:50px;margin-bottom:0">
            <input id="radio-inline-2" type="radio" name="reftype" value="v5c2">
            I only have the V5C/2 (green slip)
            <br>
            <img src="/public/images/v5c2-diagram.png" width="280" height="162" align="middle" style="padding:0.5em 0 0 0">
            </label>



          </div>
          </div>
      
        </div>
      </details></div>


   
            
        
  </div>
  </div>






  <!-- Primary buttons, secondary links -->
  <div class="form-group" style="margin-top:1em">
    <input type="submit" class="button" value="Continue">

    <!--<p style="padding:1em 0"><a href="start">Cancel application</a>-->




  </div>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
