{{<layout}}

{{$pageTitle}}
	DVLA Design Kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">


	<h2 class="heading-large">Driving - a joined up prototype</h2>

	<p><strong>What:</strong> Driving and vehicles services in one place</p>

	<p><strong>How:</strong> Start with Verify and online driving licence, pragmatically add users' vehicles and the services to manage them.</p>

	<h3 class="heading-medium">New</h3>

	<ol class="list-number">

		<li>
			<a href="/examples/elements/start">Start page</a><br />
			Needs a new start page (simple style, go to verify)
		</li>
		

		<li>
			<a href="/examples/elements/verify-1">Verify new/existing user</a><br />
			Picker for users to register if new to Verify
		</li>

		<li>
			<a href="/examples/elements/verify-2">Verify provider chooser</a><br />
			Users need to remember which service they ID with
		</li>

		<li>
			<a href="/examples/elements/verify-3">Verify Sign in</a><br />
			Not GOV.UK, user signs in elsewhere using whatever method is in place
		</li>

		<li>
			<a href="/examples/elements/driving-1">Driver summary, suggested vehicles</a><br />
			Vehicles that have the same address are picked up, and offered to 'own' by confirming using a V5C doc ref
		</li>

		<li>
			<a href="/examples/elements/driving-2"></a>Driver + Vehicle summary, services available<br />
			Some riffing on this required, tabs for driver/vehicle, etc
		</li>

		


	</ol>



	





	<h2 class="heading-medium">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/wiki">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
